django==3.2
django-cors-headers
djangorestframework
psycopg2-binary==2.9.1
celery==4.4.7
django-celery-beat==2.0.0
django-celery-results==2.0.1
django-timezone-field==4.2.1
python-crontab==2.6.0
pandas